@media screen and (min-width : 960px) {

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        display: grid;
        grid-template-areas: 
         "header header header"
         "nav nav nav"
         "introduction study project_team";

    }
}

header { 
    text-align: center;
    grid-area: header;
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
}

nav {
    text-align: center;
    grid-area: nav;
}

#introduction {
    grid-area: introduction;
}

#study {
    grid-area: study;
}

#project_team {
    grid-area: project_team;

}

